<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ultimate Space Invaders</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- External CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  {{{ body }}}
  <center>
  <div class="footer orange-text text-accent-3">
        <a href="https://github.com/janisnjohn/spaceInvaders">GitHub Repo</a>
        |
        <a href="/api/leaderboard">Player Score API</a>
        |
        <a href="/leaderboard">Leaderboard</a>
        |
        <a href="/game">New Game</a>
      
  </div>
  </center>
</body>
