<!-- container div -->
<div class="container">
    <br>
    <br>
    <center>
        <header id="showcase">
      <h1 class="cyan-text text-accent-3 font-style light italic">Game Over</h1>
    </header>
    <br>
    <div class="row">

        <form class="col s12 color purple">
        <div class="row">
            <div class="input-field inline text-white">
            <input placeholder="Enter Name" id="name" type="text" class="validate text-white">
            <label for="name">Name</label>
            </div>
            <div class="input-field inline">
            <input placeholder="Enter Score" id="score" type="text" class="validate">
            <label for="score">Score</label>
        </div>
        <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
            </button>
        </div>
    </div>







    </center>
    <!--end container div -->
</div>
