<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ultimate Space Invaders</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="./p5.min.js" type ="text/javascript"></script>
    <script src="./addons/p5.dom.min.js" type ="text/javascript"></script>
<!--     <script src="./addons/p5.sound.min.js"  type ="text/javascript"></script> -->
    <script src="./addons/p5.sound.js" type ="text/javascript"></script>
	<script src = "./sketch.js" type="text/javascript"></script>
	<script src = "./ship.js" type="text/javascript"></script>
	<script src = "./enemies.js" type="text/javascript"></script>
	<script src = "./shots.js" type="text/javascript"></script>
</head>
<body>
	
</body>
</html>