<!-- container div -->
<div class="container">
    <br>
    <br>
    <center>
        <table id="highScore" class="highlight-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>10000</td>
                </tr>
            </tbody>
        </table>








    </center>
    <!--end container div -->
</div>
