<!-- container div -->
<div class="container">
    <br>
    <br>
    <center>
        <header id="showcase">
      <h1 class="cyan-text text-accent-3 font-style light italic">Leaderboard</h1>
    </header>
    <br>
        <table id="highScore" class="highlight-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>








    </center>
    <!--end container div -->
</div>
