<!-- container div -->
<div class="container">
    <br>
    <br>
    <center>
        <table id="highScore" class="highlight-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>

            <tbody>
              
              {{#each Record}}
                <tr>
                    <td>{{this.dataValues.user_name}}</td>
                    <td>{{this.dataValues.score}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </center>
    <!--end container div -->
</div>
