html {

        background: url('../img/pinwheelGalaxy.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    color: #eee;
    text-shadow: 2px 2px 2px black;
}

#gameCard{
  border: 10px solid #1fe2d2;
  border-radius: 5px;

}

#gameCard:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px #0e8e86;

}

#leaderboardCard{
  border: 10px solid #30db99;
  border-radius: 5px;

}

#leaderboardCard:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px #169663;
}
